<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" (click)="toggleDropdown($event)" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Angular4Demo</a>
    </div>
    <div [ngClass]="{'in': status.isopen}" class="collapse navbar-collapse">
      <ul class="nav navbar-nav" >
        <li><a routerLink="/books">Books</a></li>
        <li><a routerLink="/flickr">Flickr</a></li>
        <li><a routerLink="/giphy">Giphy</a></li>
        <li><a routerLink="/github">Github</a></li>
      </ul>
    </div>
    </div>
  </nav>
