/* You can add global styles to this file, and also import other style files */
a{
  text-decoration: none;
}
body{
  background-color: azure;
}
.caption{
  background-color: #fff;
  padding: 20px;
  border: 1px solid black;
}
